body {
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  transition: all 0.15s;
  background-color: var(--primaryBg);
  color: var(--primaryText);
}
h1,
h2,
h3,
h4 {
  font-family: "Didact Gothic", sans-serif;
}
a,
a:hover {
  color: var(--secondaryLinks);
}
a {
  color: var(--primaryLinks);
}
.skillbar {
  background-color: var(--primaryBg);
  border: solid 1px var(--primaryText);
  border-radius: 3px;
}
#skill-percent {
  background-color: var(--primaryLinks);
  height: 15px;
  transition: all 0.7s;
}
.sidebar {
  background-color: var(--secondaryBg);
  box-shadow: -4px -4px 5px 2px var(--shadow) !important;
}
.btn-primary,
.dropdown-menu {
  background-color: var(--secondaryBg);
  color: var(--primaryLinks);
  border-color: var(--primaryLinks);
}
.btn-primary:hover,
.btn-primary:focus,
.dropdown-item:hover {
  background-color: var(--secondaryLinks);
  color: var(--secondaryText);
  border-color: var(--primaryLinks);
  box-shadow: none;
}
.dropdown-item {
  color: var(--primaryLinks);
}
.accordion {
  cursor: pointer;
}
.accordion:hover {
  color: var(--primaryLinks);
}
