{{ define "header" }}
{{ end }}

{{ define "sidebar" }}
<div class="shadow m-2 p-3 rounded">
  {{ $data := .Site.Data }}
  {{ range .Site.Params.partials.sidebar }}
  <div class="m-1 p-1">
    {{ partial (print . ".html" ) $data }}
  </div>
  {{ end }}
</div>
{{ end }}

{{ define "main" }}
<div class="m-1 p-2">
  {{ $data := .Site.Data }}
  {{ range .Site.Params.partials.main }}
  <div class="m-1 p-1">
    {{ partial (print . ".html" ) $data }}
  </div>
  {{ end }}
</div>
{{ end }}

{{ define "footer" }}
{{ end }}
